h1 {
	font-size: 45px;
	margin: 20px;
	padding: 20px;
	font-family: "impact"
}

h1, h2, h3 {
	text-align: center;
	color: #000;
	line-height: 30px;
}

.main{
	display: flex;
}

 .redes {
	width: 100%;
	display: flex;
	padding: 20px;
	border: 1px solid #e6e6e6 ;
	background: #e6e6e6;
	line-height: 20px;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 14px;
	text-align:center;
	display: inline-block;
	max-width: 1000px;
	justify-content: center;
	margin: 0 auto;
}

.links {
	color: #000;
	text-decoration: none;
}

.titulo {
	font-family: "arial black";
	font-size: 15px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin:10px;
	text-align: center;
}
